<div class="card-body flex-row">
  <a href="/post/{{id}}">
    <div class="card-header justify-space-between">
      <div class="col-8">Post Title: {{postTitle}}</div>
      <div class="col-4">posted by: {{user.username}} {{dateCreated}}</div>
    </div>  
  </a>
  <div class="col-12">
    <textarea class="" data-number="9">{{postContent}}</textarea>
  </div>
</div>